div#slist {
    width: 40%;
    display: block;
    float: left;
    height: 500px;
    overflow: scroll;
    padding: 1.5em;
    margin-left: 2em;
}

div#tlist {
    width: 40%;
    display: inline-block;
    height: 500px;
    overflow: scroll;
    padding: 1.5em;
    margin-left: 2em;
}

div#bart-stations-list div {
    font-size: 1.75em;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
}

div#bart-stations-list div:hover {
    background: cornflowerblue;
}

div#bart-train-list div,
div#trips-list,
div#fare-list,
div#bart-alert-list {
    text-align: left;
    font-size: 2em;
    padding: 5px;
    border: 1px solid black;
}

.styled-dropdown select {
    font-size: 1em;
    font-weight: bold;
    width: 80%;
    padding: 0.5em;
    background-color: #aff0ff
}

div.trip-header {
    font-weight: bold;
}