body {
    font-size: 1em;
    margin: 0;
    min-width: 400px;
    overflow-x: scroll;
    background-color: #299adc;
}

header,
footer {
    display: block;
    margin: 0;
    padding: 0.3em 0.5em;
    width: 100%;
    color: white;
    background-image: url("/images/WebWindowTitleInactive.gif");
    position: fixed;
    border-top: 4px #96f ridge;
    border-bottom: 4px #96f ridge;
    z-index: 5;
    min-width: 400px;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
    font-size: 0.8em;
}

#pageTitle {
    font-weight: bold;
}

footer div#footer-container,
header div#header-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0.2em;
    border-top: 2px;
}

footer div.footer-column:first-child {
    cursor: pointer;
    font-weight: bold;
}

footer div.footer-column,
header div.header-column {
    box-sizing: border-box;
    width: 30%;
    padding-right: 0.5em;
    text-align: center;
}

div.header-column:first-child,
.footer-column:first-child {
    text-align: left;
    margin-left: 0.5em;
}

div.header-column:last-child,
.footer-column:last-child {
    text-align: right;
    margin-right: 0.5em;
}

#menu {
    width: 8em;
    z-index: 5;
}

#menu select {
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
    background-color: #ddeeff;
}

#page-name {
    text-transform: capitalize
}

#welcome-content {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    margin-left: 0.5em;
}

#main-window {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 5% 35% 60%;
    grid-gap: 1em;
    background-color: #299adc;
    padding: 1em;
    margin-top: 2em;
    left: 0;
    width: 98%;
    height: 85%;
}

.container>div {
    text-align: left;
}

#welcome-content {
    margin: 1em 0 3em 2em;
}

#main-window {
    margin: 1em 2em 3em 2em;
}

@media only screen and (max-width: 600px) {

    #main-window {
        grid-column: 1 / span 2;
        height: 600px;
        grid-row: 3 / span 1;
        margin: 1em 2em 3em 2em;
    }

    #welcome-content {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        min-height: 375px;
        overflow: auto;
        margin: 1em 2em 1em 2em;
    }

    #resume-html,
    #sofware-html,
    #fins-info-section {
        padding-bottom: 7.5em
    }
}

.home-content {
    text-align: left;
}

#canvas-container {
    z-index: 0;
    top: 0.5em;
    margin: 0 auto;
    width: 100%;
}

#canvas-container canvas {
    padding: 0;
    margin: 1em auto;
    padding: 1em;
    display: inline-block;
}

.section-heading {
    text-transform: capitalize;
    font-weight: bold;
    color: darkblue;
}

.left-align {
    text-align: left;
}

span.toplevel {
    color: blue;
}

ul.summary {
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    list-style: none;
}